.heading-icon {
    columns: 2;
    position: relative;
    left: -20px;
    top: -4px;
    float: left;
    width: 55px;
}

.toc-heading p {
    font-size: 2em;
    margin-top: 1.75rem;
    font-weight: 700;
}

/* Right side image, for longer text */
img.right-image {
   float: right;
   margin-left: 8px;
   margin-bottom: 4px;
   margin-top: 10px;
}
